.section__ingfo {
    background-color: var(--coolblack);
    padding: 5%;
}

.ingfoimg {
    display:block;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.ingfo__txt {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ingfo__txt-header {
    display: flex;
    flex-direction: column;
}

#ingfo__txt-header h1 {
    color: var(--coolcolor2);
    margin-bottom: -10px;
}
