.section__ingfo {
    background-color: var(--coolblack);
    padding: 5%;
}

.ingfoimg {
    width: 25%;
    height: auto;
}

.ingfo__txt {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ingfo__txt-header {
    display: flex;
    flex-direction: column;
}

#ingfo__txt-header h1 {
    color: var(--coolcolor2);
    margin-bottom: -10px;
}



