
.header__nav{
    background-color: var(--secondary-color);
    display: flex;
    flex: 1.35;
    z-index: 100;
    box-shadow: 0px 0px 100px -15px;
}

header {
    position: sticky;
    z-index: 100;
    top: 0;
}

.nav__logo{
    flex: 1;
    display: flex;
    position: relative;
    padding-left: 20px;
}

.navimg{
    width: 96px;
    padding-top: 0px;
    display: flex;
    /* justify-content: center;
    position: relative; */
    /* object-fit: contain; */
}

.navtxt{
    color: var(--textcolor);
    display: flex;
    font-size: 24px;
    font-family: "Josefin Sans";
    position: relative;
    align-self: center;
}