@import url("navbar.css");
@import url("hero.css");
@import url("footer.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
    --primary-color: #ffe3d6;
    --secondary-color: #dab7a6;
    --textcolor: #2d2826;
    --subtextcolor: #98867f;
}

body {
    background: var(--primary-color);
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-family: "Josefin Sans"
}

p {
    font-family: "Josefin Sans";
    color: var(--textcolor)
}